<h1>Edit Item</h1>

<%= simple_form_for @book, :html => { :multipart => true } do |f|  %>

<%= f.select :category_id, @categories %>
<%= f.file_field :book_img %>
<%= f.input :title, label: "Item title" %>
<%= f.input :description %>
<%= f.input :author %>
<%= f.button :submit, value: "Update Item" %>
<% end %>